h2  :first-letter {
    font-size: 130%;
}

h2 + p :first-of-type  ::first-line {
    text-indent: 2em;
}

a  ::before {
    content: '→ ';
}

abbr  ::after {
    content: " (" attr(title) ")";
    font-size: 90%;
}
